#album,#artiste{
    color:ghostwhite;
    background-color: #030b1e;
    border: 1px solid ghostwhite;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0 2rem 2rem 2rem;
    width: 25rem;
    height: 25rem;
}

#album img, #artiste img{
    width: 20rem;
    height: 20rem;
}

.divAdmin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

h1{
    margin: 1rem;
}

/* Pour les écrans de taille moyenne (tablette) */
@media screen and (max-width: 1100px) {
    #album,
    #artiste {
        width: 90vw;
        height: auto;
    }
    #album img,
    #artiste img {
        width: 80%;
        height: auto;
    }
    .divAdmin {
        flex-direction: column;
        align-items: center;
    }
}

/* Pour les écrans de petite taille (téléphone) */
@media screen and (max-width: 576px) {
    #album,
    #artiste {
        width: 100vw;
        border-radius: 0;
    }
    #album img,
    #artiste img {
        width: 100%;
        height: auto;
    }
    .divAdmin {
        margin: 0;
    }
    h1 {
        margin-top: 2rem;
    }
}