.modifLabel {
    color: ghostwhite;
    margin-right: 2rem;
}

.modifInput {
    color: ghostwhite;
}

.modifInput input {
    height: 1rem;
}

.modifInput textarea{
    height: 5rem;
    width: 20rem;
    resize: none;
}

.modifLabel label{
    font-size: 1.2rem;
}

.modifInput > * {
    margin-bottom: 0.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-container {
    display: block;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    color: #1a0338;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content input[type="checkbox"] {
  display: line;
}

#dropdown-button {
    height: auto;
    display: inline-block;
}

fieldset{
    display: flex;
    margin:2rem;
    padding: 1rem;
}

fieldset legend{
    color: ghostwhite;
    font-size: 1.5rem;
}

fieldset button{
    padding: 0.5rem;
    border-radius: 0 1rem 1rem 1rem;
    background-color: #1a0338;
    color: ghostwhite;
    border: 1px solid ghostwhite;
    transition: 0.3s;
}

fieldset button:hover{
    background-color: ghostwhite;
    color: #1a0338;
    cursor: pointer;
    transition: 0.3s;
}

fieldset select{
    margin-right: 1rem;
}